Options -Indexes

<Files *.php>
   SetOutputFilter DEFLATE
</Files>
<Files *.html>
   SetOutputFilter DEFLATE
</Files>
<Files *.css>
   SetOutputFilter DEFLATE
</Files>
<Files *.js>
   SetOutputFilter DEFLATE
</Files>
<Files *.jpg>
   SetOutputFilter DEFLATE
</Files>
<Files *.jpeg>
   SetOutputFilter DEFLATE
</Files>
<Files *.png>
   SetOutputFilter DEFLATE
</Files>

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?https://ed-list.herokuapp.com/ [NC]
RewriteRule .*\.(jpg|jpeg|png|gif)$ - [F]