.content{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.8em;
    overflow: auto;
    flex-direction: column-reverse;
    form{
        height: 200px;
        display: flex;
        margin-top: 0.8em;
        align-items: center;
        border-radius: 0.7em;
        font-family: $roboto;
        flex-direction: column;
        legend{
            margin-top: 1em;
            font-size: 1rem;
            font-weight: bold;
        }
        button{
            width: 80%;
            margin: 0.7em;
            padding: 0.2em;
            font-size: 1rem;
            cursor: pointer;
            color: #3f3d3d;
            border-radius: 0.7em;
            font-family: $open-sans;
            background-color: $bg-button-azul;
        }
    }
}
.text{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    time{
        font-size: 1rem;
    }
    span{
        font-size: 1rem;
        font-weight: bold;
        margin-right: 0.4em;
    }
    a{
        font-size: 1rem;
        text-decoration: underline;
    }
}
.div-span{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.div-result{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.links{
    width: 100%;
    display: flex;
    margin-top: 0.2em;
    flex-direction: row;
    margin-bottom: 0.7em;
    justify-content: center;
    a{
        margin: 0.5em;
    }
}
.empty{
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    font-family: $roboto;
}
