@mixin pops-compact {
    width: 100%;
    display: flex;
    overflow: auto;
}
.menu-op{
    width: 100%;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: $bg-color;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    span{
        font-size: 1.1rem;
        font-weight: bold;
        font-family: $open-sans;
    }
}
.conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.4em;
    align-items: center;
    flex-direction: column;
}
.titles-session{
    margin: 0.4em;
    span{
        font-weight: bold;
        font-family: $roboto;
        color: $color-text-session;
    }
}
.div-horarios{
   @include pops-compact;
    div {
        padding: 0.4em;
        height: 200px;
        display: flex;
        margin: 0.3em;  
        border-radius: 0.4em;
        font-family: $roboto;
        flex-direction: column;
        background-image: $bg-pop-text;
        span{
            font-size: 1rem;
            font-weight: bold;
            color: $color-text;
            text-align: center;
            white-space: nowrap;
            margin-bottom: 0.7em;
        }
        ul li{
            font-size: 0.8rem;
            margin-top: 0.3em;
            text-align: center;
            white-space: nowrap;
        }
    }
}
.estatistica-div{
    @include pops-compact;
    div{
        height: 3em;
        display: flex;
        margin: 0.3em;  
        padding: 0.4em;
        border-radius: 0.4em;
        font-family: $roboto;
        flex-direction: column;
        background-image: $bg-pop-text;
        span{
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            color: $color-text;
            white-space: nowrap;
            margin-bottom: 0.7em;
        }
        ul li{
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
.alunos-div{
    margin-bottom: 2em;
    @include pops-compact;
    div{
        height: 90px;
        display: flex;
        margin: 0.3em;     
        padding: 0.5em;
        border-radius: 0.4em;
        background-image: $bg-pop-text;
        figure{
            display: flex;
            justify-content: center;
            img{
                width: 70px;
                height: 60px;
                border-radius: 20%;
            }
        }
    }
}
.menu{
    bottom: 0px;
    width: 100%;
    height: 45px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-image: $bg-color;
    li{
        font-size: 1rem;
        margin-left: 0.4em;
        margin-right:0.4rem;
    }
    a{
        font-size: 1rem;
        margin-left: 0.4em;
        margin-right:0.4rem;
    }
}
.pop{
    width: 90%;
    bottom: 9%;
    height: 40%;
    padding: 0.5em;
    position: fixed;
    align-items: center;
    border-radius: 0.7em;
    flex-direction: column;
    background-image: $bg-color;
}
.video{
    display: none;
    span{
        margin: 0.2em;
        font-weight: bold;
        white-space: nowrap;
        font-family: $roboto;
    }
    ul{
        display: flex;
        overflow: auto;
        align-items: center;
        flex-direction: column;
    }
    a{
        padding: 0.1em;
        font-size: 1.2rem;
        white-space: nowrap;
        font-family: $open-sans;
    }
}
.mostrar{
    display: flex;
}
//194