@mixin pops-compact {
    width: 100%;
    display: flex;
    overflow: auto;
}
.content{
    display: flex;
    padding: 0.4em;
    align-items: center;
    flex-direction: column;
}
.titles-session{
    margin: 0.4em;
    span{
        font-weight: bold;
        font-family: $roboto;
    }
}
.div-horarios{
   @include pops-compact;
    div {
        height: 200px;
        display: flex;
        margin: 0.3em;
        padding: 0.4em;
        border-radius: 0.4em;
        font-family: $roboto;
        flex-direction: column;
        span{
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            margin-bottom: 0.7em;
        }
        ul li{
            font-size: 0.8rem;
            margin-top: 0.3em;
            text-align: center;
            white-space: nowrap;
        }
    }
}
.estatistica-div{
    @include pops-compact;
    div{
        height: 3em;
        display: flex;
        margin: 0.3em;
        padding: 0.4em;
        border-radius: 0.4em;
        font-family: $roboto;
        flex-direction: column;
        span{
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            margin-bottom: 0.7em;
        }
        ul li{
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
.alunos-div{
    margin-bottom: 2em;
    @include pops-compact;
    div{
        height: 90px;
        display: flex;
        margin: 0.3em;
        padding: 0.5em;
        border-radius: 0.4em;
        figure{
            display: flex;
            justify-content: center;
            img{
                width: 70px;
                height: 60px;
                border-radius: 20%;
            }
        }
    }
}
//194
