@mixin pops-compact {
    width: 100%;
    display: flex;
    overflow: auto;
}
.content{
    display: flex;
    padding: 0.4em;
    align-items: center;
    flex-direction: column;
}
.titles-session{
    margin: 0.4em;
    span{
        font-weight: bold;
        font-family: $roboto;
    }
}
.div-horarios{
   @include pops-compact;
    div {
        height: 200px;
        display: flex;
        margin: 0.3em;
        padding: 0.4em;
        border-radius: 0.4em;
        flex-direction: column;
        span{
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            font-family: $roboto;
            padding-bottom: 0.2em;
        }
        ul li{
                font-size: 0.8rem;
                padding-top: 0.3em;
                text-align: center;
                white-space: nowrap;
                font-family: $open-sans;
            }
    }
}
.estatistica-div{
    @include pops-compact;
    div{
        height: 3em;
        display: flex;
        margin: 0.3em;
        padding: 0.4em;
        border-radius: 0.4em;
        flex-direction: column;
        span{
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            font-family: $roboto;
            margin-bottom: 0.7em;
        }
        ul li{
            font-size: 0.9rem;
            text-align: center;
            font-family: $open-sans;
        }
    }
}
//194
