.orderBy{
    width: 100%;
    form{
        display: flex;
        padding: 0.2em;
        align-items: center;
        flex-direction: row;
        legend{
            font-size: 1rem;
            font-weight: bold;
            margin-right: 0.4em;
        }
        select{
            font-size: 1rem;
            color: #3f3d3d;
            padding-left: 0.4em;
            border-radius: 0.5em;
            background-color: $bg-input;
            border: solid 3px $bg-border;
        }
        option{
            font-size: 1rem;
            color: #3f3d3d;
            background-color: $bg-input;
        }
        button{
            width: 4em;
            height: 1em;
            font-size: 1rem;
            color: #3f3d3d;
            text-align: center;
            margin-left: 0.4em;
            border-radius: 0.5em;
            background-color: $bg-button-azul;
        }
    }
}
