*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    font-size: 1.4rem;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
    box-shadow: 0 0 0;
    line-height: 1;
}
::-webkit-scrollbar-track-piece {
    background-color: #35b2f5;
}
::-webkit-scrollbar{
    width: 0.2em;
    height: 0.2em;
}
::-webkit-scrollbar-thumb {
   border-radius: 0.2em;
    background-color:  #0F96E1;
}
.root{
    width: 100vw;
    height: 100vh;
}
