/* Tema padrão */
.theme-default{
    background-color: $bg_01;
}
.theme-default-bar{
    background-color: $bg-top-bar_01;
}
.theme-default-camp{
    background-color: $bg-form_01;
    box-shadow:  5px 5px 21px 0px #D3D3D3, 10px 5px 13px -6px #9E9E9E;
}
.theme-defaul-color-font{
    color: $font-color-azul;
}
.theme-defaul-menu{
    background-color: $bg_01;
    box-shadow: 10px 11px 10px -7px #C9C7C7, 2px 1px 12px 0px #CECECE;
}
