$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
//cor de textos
$color-text:rgb(231, 231, 231);;
$color-input: rgb(54, 53, 54);
$color-text-session:rgb(119, 118, 118);
$color-url:rgb(165, 209, 245);
//cores de fundo 
$bg-input:#eceef5;
$bg-border: rgb(8, 195, 251);
$bg-color-buttun: rgba(5,175,242,1);
/* $bg-welcome: linear-gradient(rgb(68, 57, 219),rgb(57, 141, 219)); */
$bg-pop-text: linear-gradient(29deg, rgb(4, 135, 216) 43%, rgb(29, 156, 206) 83%);
$bg-color: linear-gradient(29deg, rgba(5,108,242,1) 19%, rgba(5,151,242,1) 43%, rgba(5,175,242,1) 83%);
$bg-marca: rgb(25, 85, 144);