// Modo escuro
$bg_02: #131414;
$bg-form_02:  #18191A;
$bg-top-bar_02: #202325;
$font-color-branco: #F2FFFF;
// Modo padrão
$bg_01: #F3FAF8;
$bg-form_01: #EBF2F1;
$font-color-azul: #0F96E1;
$bg-top-bar_01: linear-gradient(90deg, #0167EC 0%, #0F80E8 40.84%, #52D0EC 87.27%);

// Fontes
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// all themes
$bg-border:#0F96E1;
$bg-input: #f6f3f3;
$bg-button-azul: #0F96E1;
