// all themes
$bg-border:#0F96E1;
$bg-input: #f6f3f3;
$bg-button-azul: #0F96E1;

// Modo padrão
$bg_01: #F3FAF8;
$bg-form_01: #EBF2F1;
$font-color-azul: #0F96E1;
$bg-top-bar_01: #20a6ee;

// Modo escuro
$bg_02: #131414;
$bg-form_02:  #18191A;
$bg-top-bar_02: #202325;
$font-color-branco: #F2FFFF;

// Fontes
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
